NODE_ENV="development"
PORT=5000

# DATABASE_URL="postgresql://postgres:123456@localhost:5432/mydb?blogdb=public"
# DATABASE_URL=postgresql://postgres:nextblogrds@db-nextblog.c72qycyeiylo.ap-southeast-1.rds.amazonaws.com:5432/nextblog -> aws rds
DATABASE_URL="your database url"


JWT_SECRET="secret"
EXPIRES_IN="1h"
REFRESH_TOKEN_SECRET="another secret"
REFRESH_TOKEN_EXPIRES_IN="2d"

CLOUDINARY_API_KEY="448877366715569"
CLOUDINARY_API_SECRET="BsXpD1ngFJYBfvlbKcgdPC4wUcc"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=